@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme{
    --font-sans: "Inter", sans-serif;
    --font-mono: "IBM Plex Mono", monospace;

    --color-dark-300: #030712;

    --color-light-300: #333333;
}